.space-mono-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    color: white;
}
.home-container{
    width: 90%;
    /* padding: 200px 0; */
}
.home-container .row{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.social-media-handles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0;
}
.social-media-handles a{
    width: fit-content;
    text-decoration: none;
    color: white;
}
.home-para{
    font-size: 1.2em;
}
.side-content-container{
    width: 70%;
}
.carousel-image{
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}
.carousel-item{
    text-align: center;
}
.carousel-item p {
    margin-top: 10px;
    font-size: 1.1em;
}
.carousel-inner{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* Tablet (add styles when screen is larger) */
@media (min-width: 768px) {
    .home-container, .row{
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
    }
    .home-container{
        padding: 150px 0;
    }
    .main-content-container{
        width: 65%;
    }
    .side-content-container{
        width: 30%;
    }
    .social-media-handles{
        margin: 0;
        justify-content: flex-start;
    }
    .social-media-handles a{
        margin: 0 20px;
        font-size: 1.2em;
    }
    .carousel-image{
        width: 180px;
        height: 180px;
    }
}

/* Desktop (even larger screens) */
@media (min-width: 1200px) {
    .main-content-container{
        width: 70%;
    }
    .side-content-container{
        width: 25%;
    }
}