.navbar{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    background-color: black !important;
    border-bottom: 1px solid #1e1e1e;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    transition: ease-in-out !important;
}

.navbar a{
    display: flex;
    /* justify-content: center !important; */
    align-items: center !important;
}

#navbarNav{
    justify-content: space-around;
    align-items: center;
    height: 100% !important;
}

.navbar-brand{
    padding-left: 10px;
    padding-right: 10px;
    height: 100% !important;
}

i{
    margin: 0 8px;
}
.fa-moon{
    margin-left: 0;
}

.navbar-icons{
    padding-left: 18px;
}

.navbar-nav .nav-link{
    color: #e1e1e1 !important;
    font-size: 1em;
    min-height: 100%;
    padding-left: 10px;
}


/* Tablet (add styles when screen is larger) */
@media (min-width: 768px) {
    #navbarNav{
        justify-content: end;
    }
}

/* Desktop (even larger screens) */
@media (min-width: 1200px) {
    
}
